<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.project.bookreview.servlets.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.project.bookreview.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewServlet</servlet-name>
        <servlet-class>com.project.bookreview.servlets.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPublisherServlet</servlet-name>
        <servlet-class>com.project.bookreview.servlets.AddPublisherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingFeedbackServlet</servlet-name>
        <servlet-class>com.project.bookreview.servlets.RatingFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.project.bookreview.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewServlet</servlet-name>
        <url-pattern>/AddReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPublisherServlet</servlet-name>
        <url-pattern>/AddPublisherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingFeedbackServlet</servlet-name>
        <url-pattern>/RatingFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>
